body {
	font-family: 'PT Sans', sans-serif;
}

.report-title {
	font-size: 21px;
	font-weight: bold;
	color: #194666;
	letter-spacing: 3px;
}

.report-subtitle {
	font-size: 20px;
}

p.text-large {
	font-size: 25px;
	font-weight: bold;
} 

hr {
	border-color: #000;
}

.table {
  border: 0.5px solid #000000;
  border-spacing: 0;
  width: 100%;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
   border: 0.5px solid #000000;
   padding: 3px;
   padding-left: 10px;
}

thead th {
    color: #194666;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    letter-spacing: 3px;
    font-size: 18px;
}

.page-break {
    page-break-after: always;
}

.text-center {
	text-align: center;
}

.kategori-produk {
	padding-top: 30px;
    padding-bottom: 30px;
	font-size: 16px;
	text-align: center;
	color: #ffffff;
	background-color: #194666;
	font-weight: bold;
	letter-spacing: 5px;
}